<%- include('partials/header') %>

<div class="flash">
  <div class="flash--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

   <!-- Order: Abs Index,Grammar, Swedish, English, Type, Examples, Swedish (full), Swedish (full w/o brackets)
                   0        1        2         3      4       5            6              7 -->
            
  <div class="flash--cards">
    <div>
      <h3 class="text-muted">Loading cards ...</h3>
    </div>
    <% words.forEach((word, index) => { %>
    <div class="flash--card" id="<%= index %>">
      <div class="content">
        <div class="front">
          <!-- <h5 class="language">Swedish</h5> -->
          <h3><%= word[6] %></h3>
          <h3 style="display: none;"><%= word[7] %></h3> <!-- For audio -->
          <h3 style="display: none;"><%= word[0] %></h3> <!-- For updating progress -->
          <h5><%= word[4] %></h5>
          <p><%= word[5] %></p>
        </div>
        <div class="back">
          <!-- <h5 class="language">English</h5> -->
          <h3><%= word[3] %></h3>
          <h5><%= word[4] %></h5>
          <p></p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>

  <div class="flash--buttons">
    <form action="/next" method="post" id="control-buttons">
      <button id="nope"><i class="fa fa-remove"></i></button>
      <button id="sound" class="muted"><i class="fas fa-volume-down"></i></button>
      <button id="flip"><i class="fas fa-redo-alt"></i></button>
      <button id="love"><i class="fa fa-heart"></i></button>
      <input id="hidden-input-next" type="hidden" name="options" value=""></input>
      <input id="hidden-input-word-index" type="hidden" name="absIndex" value=""></input>
    </form>
  </div>
  
</div>
<script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
</script>
<script src="https://hammerjs.github.io/dist/hammer.js"></script>
<script src="javascript/card-manager.js"></script>

<%- include('partials/footer') %>
